<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<div th:replace="menu :: menu">...</div>

<body>
	<div class="center main-div">
		<table id="tabela" class="table center table-striped table-bordered"
			cellspacing="0">
			<a href="/gestor" class="btn btn-success btn-adicionar">Adicionar
				gestor</a>
			<thead>
				<tr>
					<th>Nome</th>
					<th>Telefone</th>
					<th>Cidade</th>
					<th>Rua</th>
					<th>Número</th>
					<th>Salário</th>
					<th>Ações</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="gr : ${gr}">
					<td th:text="${gr.nome}"></td>
					<td th:text="${gr.telefone}"></td>
					<td th:text="${gr.endereco.cidade}"></td>
					<td th:text="${gr.endereco.rua}"></td>
					<td th:text="${gr.endereco.numero}"></td>
					<td th:text="'R$ '+${gr.salario}"></td>
					<td class="td-edit"><a th:href="'/gestor?id=' + ${gr.id}"><span
							class="glyphicon glyphicon-edit"></span></a> <a
						th:href="@{/deletarGestor(id=${gr.id})}"><span
							class="glyphicon glyphicon-remove"></span></a></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
<script>
	$("#gestores").addClass("active");
</script>
</html>